<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue with GPS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div id="app" v-cloak>
            <h1 class="h2">GPS実験</h1>
            <div v-if="errorStr">
              下記のエラーが発生しました
              エラー: {{errorStr}}
            </div>
            
            <div v-if="gettingLocation">
              <i>位置情報を取得中...</i>
            </div>
            
            <div v-if="location">
              <p>あなたの現在位置：</p>
              <table class="table">
                  <tr>
                      <th>緯度</th>
                      <td>{{ location.coords.latitude }}</td>
                  </tr>
                  <tr>
                      <th>経度</th>
                      <td>{{ location.coords.longitude}}</td>
                  </tr>
              </table>
            </div>

            <button class="btn btn-primary" v-on:click="getGeolocation">計測</button>

            <a :href="mapUrl" class="btn btn-info"　v-if="showLink">地図を見る</a>
            
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                location:null,
                gettingLocation: false,
                errorStr:null,
                showLink:false,
                mapUrl:'',
            },
            created:function(){
                this.geoInit()
            },
            methods:{
                geoInit:function(){
                    //do we support geolocation
                    if(!("geolocation" in navigator)) {
                        this.errorStr = '位置情報が有効ではありません.';
                        return;
                    }
                },
                getGeolocation:function(){
                    console.log(navigator)
                    //gps動作確認
                    this.geoInit()

                    this.gettingLocation = true;
                    // get position
                    navigator.geolocation.getCurrentPosition(pos => {
                        this.gettingLocation = false;
                        this.location = pos;
                        this.showLink = true
                        this.mapUrl = 'https://openstreetmap.org/#map=18/'+pos.coords.latitude+'/'+pos.coords.longitude
                        console.log(this.mapUrl)
                    }, err => {
                        this.gettingLocation = false;
                        this.errorStr = err.message;
                    })
                }
            }
        })
    </script>
</body>
</html>