<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOリスト課題</title>
</head>
<body>
    <div id="app">
        <!--入力エリア-->
        日付：<input type="date" name="when" v-model="newWhen"><br>
        内容：<input type="something" name="when" v-model="newSomething"><br>
        カテゴリー：<select name="category" v-model="newCategory">
            <option v-for="category in categories" v-bind:value="category">{{category}}</option>
        </select><br>
        <button type="button" v-on:click="create">追加</button>
        <!--表示エリア-->
        <table>
            <tr>
                <th>#</th>
                <th>日時</th>
                <th>内容</th>
                <th>完了</th>
            </tr>
            <tr v-for="todo in todos">
                <td>{{todo.id}}</td>
                <td>{{todo.when}}</td>
                <td>{{todo.something}}</td>
                <td><button type="button" v-on:click="complete(todo.id)">完了</button></td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                categories:['学校','プライベート','就活','グルメ'],
                todos:[],
                newWhen:'',
                newSomething:'',
                newCategory:'',
            },
            methods:{
                create:function(){
					//日付と内容が空欄でない場合のみ
                    if(this.newWhen != "" && this.newSomething != ""){
                        //番号を取得
						if(this.todos.length != 0){//既にデータがある場合
							lastTodo = this.todos.slice(-1)[0] //一番最後のデータを取得
                        	newId = lastTodo.id + 1
						}else{//新規
							newId = 1
						}
                        //登録用データを作成
                        newTodo = {
                            id: newId,
                            when: this.newWhen,
                            something: this.newSomething,
                            category: this.newCategory,
                        }
						//配列にデータ追加
                        this.todos.push(newTodo)
						//FORMをクリア
                        this.newWhen = ''
                        this.newSomething = ''
                        this.newCategory = ''
                        //localstrageも更新
                        localStorage.setItem('todos', JSON.stringify(this.todos))
                    }
                },
                complete:function(id){
					//idで指定された配列要素を削除
                    const newTodos = this.todos.filter(function(todo) {
                        return todo.id !== id;
                    })
                    this.todos = newTodos
                    //localstrageも更新
                    localStorage.setItem('todos', JSON.stringify(this.todos))
                }
            },
            mounted(){
				//読み込み時に配列をローカルストレージから復元
                if(localStorage.getItem('todos')!=null){//localstrageにデータがあれば取得
                    const todos = localStorage.getItem('todos');
                    this.todos = JSON.parse(todos);
                }else{//なければ配列を新規作成
                    this.todos = [];
                }
            }
        })
    </script>
</body>
</html>
